---
name: PR

on:
  pull_request:
    branches:
      - main

jobs:
  validate-workflows:
    name: Validate Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate GitHub Workflows
        uses: ./actions/validate-schema
        with:
          working-directory: .github/workflows
          schema: github-workflow

  validate-actions:
    name: Validate Actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate GitHub Actions
        uses: ./actions/validate-schema
        with:
          working-directory: actions
          schema: github-action
          file-pattern: 'action\.ya?ml$'